/*Global Elements */
html,body {
	margin: 0px;
	padding: 0px;
	height: 100%
}

body {
	font-size: 12px;
	background-color: White;
	font-family: Arial, Helvetica, sans-serif
}

a {
	color: #0098cb;
	text-decoration: none
}

img {
	margin: 0px;
	padding: 0px;
	border: 0px none
}

a:hover {
	text-decoration: underline
}

.centered_container {
	margin: 5px auto;
	padding: 0px;
	text-align: center
}

.mar_lr_10 {
	margin: 0px 10px;
	padding: 0px
}

/*Header Elements */
#header_ctain {
	margin: 0px;
	padding: 0px;
	height: 122px;
	width: 100%;
	background-repeat: repeat-x;
	background-image: url(../img/top.png)
}

#logo_ctain {
	position: absolute;
	text-align: center;
	width: 100%
}

#logo {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 5px
}

/* Navigation Elements */
#nav_ctain {
	margin: 0px 0px 0px 25px;
	padding: 0px;
	position: relative;
	top: 84px
}

#nav_tabs {
	margin: 0px;
	padding: 0px;
	list-style-type: none
}

#nav_tabs li {
	float: left
}

#nav_tabs li a {
	position: relative;
	text-align: center;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	display: block
}

.tab_active {
	margin: 0px -18px;
	position: relative;
	height: 38px;
	width: 138px;
	z-index: 2;
	background-image: url(../img/tab.png);
	background-repeat: no-repeat;
	background-position: 0px 0px
}

.tab_active a {
	margin: 8px auto 0px;
	height: 29px;
	width: 100px;
	font-size: 14pt;
}

.tab_inactive {
	margin: 0px -2px;
	position: relative;
	height: 31px;
	width: 105px;
	z-index: 1;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(../img/tab_i.png);
	top: 7px
}

.tab_inactive:hover {
	background-position: 0px -31px
}

.tab_inactive a {
	margin: 6px auto 0px;
	height: 23px;
	font-size: 12pt;
	width: 82px;
}

/* User Bar Elements */
#user_container {
	margin: 0px;
	padding: 0px;
	border: 1px solid #bfbfbf;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: White
}

#user_content {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
	float: right;
}

#user_actions {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
	clear: right;
	text-align: right;
}

/*Content Elements */
#content_wrapper {
	background: url(../img/content.png) repeat-y center;
}

#content_container {
	margin: 10px auto 0px;
	width: 800px
}

#content_content {
	margin: 0px;
	padding: 0px
}

#content_content h1 {
	margin: 0px;
	padding: 0px;
	font-size: x-large;
	font-weight: bold
}

#content_content h2 {
	margin: 0px;
	padding: 0px;
	clear: left;
	font-size: large
}

/* Map Elements */
#map_create #content_container{
	margin:0;
	width:100%;	
}
#map_create #content_container #content_content{
	width:100%;
	height:100%;
	position:relative;	
}
#map_container{
	width:100%;
	height:100%;
	
	position:relative;	
}
#map_container_right{
	height:100%;
	position:relative;
	margin-left:300px;
}

#map_container_left{
	width:300px;	
	float:left;

}
.right_small{
	margin-left:10px;	
}
.left_small{
	width:10px;	
}
#map_placeholder {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
}
.fullscreen{
	width:100%;
	height:100%;	
}

.large_map {
	height: 450px;
	width: 100%
}

.small_map {
	height: 250px;
	width: 100%
}

/* Footer Elements */
#footer_container {
	padding: 10px 0px;
	clear: left;
	margin-right: auto;
	width: 800px;
	margin-left: auto
}

#footer_content {
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	text-align: center;
	font-weight: bold;
}

/* Route List Elements */
#route_list_container {
	margin: 5px auto;
	padding: 0px;
	clear: left;
	width: 100%
}

#route_list_item {
	border: 1px dashed gainsboro;
	position: relative;
	width: 180px;
	background-color: lavenderblush;
	float: left;
	height: 190px
}

.route_list_item_name {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: larger;
	width: 100%;
	font-weight: bold
}

.route_list_item_img {
	margin: 0px;
	padding: 5px 0px;
	text-align: center;
	width: 100%
}

.route_list_item_date {
	margin: 0px;
	padding: 3px 0px 0px;
	text-align: center
}

/* Registration Elements */
#reg_ctain {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#reg_in_ctain {
	width: 300px;
	float: left;
	padding: 0px;
	margin: 0px;
}

#reg_loc_ctain {
	width: 500px;
	float: left;
	padding: 0px;
	margin: 0px;
}

#reg_loc_sub input {
	margin: 0px auto;
	padding: 0px;
	border: 1px solid Black;
	position: relative;
	width: 120px;
	background-color: White;
	color: Black;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif
}

#reg_loc_sub input:hover {
	
}
#training_cal{
	width:500px;
	background-color:#444444
}
#training_cal td{
	width:50px;
	height:100px;
	vertical-align: top
}
#training_cal .activeMonth{
	background-color:#999999
}
#training_cal .inactiveMonth{
	background-color:#555555
}
#training_cal .month_header{
	background-color:#af00af
}
#training_cal .day_header{
	background-color:#444444;
	color:white
}
#footer_content ul{
	float:left;
	width:150px;	
}
#footer_copyright{
	clear:both;
	text-align:center
}
input.error{
	border:1px red solid;
}
#help_header{
	height: 40px;
	width: 100%;
	background-repeat: repeat-x;
	background-image: url(../img/top.png)
}