/*Global Elements */
html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font: 12px Arial, Helvetica, sans-serif
}

a {
	text-decoration: none;
	color: Black
}

img {
	margin: 0px;
	padding: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px
}

a:hover {
	text-decoration: underline
}

/*Header Elements */
#top_container {
	margin: 0px auto;
	padding: 0px;
	height: 140px;
	width: 100%;
	background-image: url(../img/top.png);
	background-repeat: repeat-x
}

/* Navigation Elements */
#navi_container {
	margin: 0px auto;
	padding: 0px;
	position: relative;
	height: 40px;
	width: 800px;
	top: 78px;
}

#navi_content {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 650px;
	text-align: center;
}

#navi_content li {
	border-right: 1px solid Black;
	background: White;
	margin: 0px 5px;
	padding: 5px 5px 0px;
	border-top: 1px solid Black;
	border-left: 1px solid Black;
	position: relative;
	font-weight: bold;
	float: left;
	height: 25px;
	top: 10px;
}

#navi_content .unselected {
	border-bottom: 1px solid Black;
}

#navi_content li:hover {
	background-color: whitesmoke
}

/* User Bar Elements */
#user_container {
	margin: 0px;
	padding: 0px;
	border: 1px solid Black;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: White
}

#user_content {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
	float: right;
}

#user_actions {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
	clear: right;
	text-align: right;
}

/*Content Elements */
#content_wrapper {
	background: url(../img/content.png) repeat-y center;
}

#content_container {
	margin: 0px auto;
	padding: 5px;
	width: 790px;
}

#content_content {
	margin: 0px;
	padding: 0px
}

#content_content h1 {
	margin: 0px;
	padding: 0px;
	font-size: x-large;
	font-weight: bold
}

#content_content h2 {
	margin: 0px;
	padding: 0px;
	font-size: large
}

/* Map Elements */
#map_placeholder {
	height: 500px;
	width: 790px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
}

/* Footer Elements */
#footer_container {
	padding: 10px 0px;
	clear: left;
	margin-right: auto;
	width: 800px;
	margin-left: auto
}

#footer_content {
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	text-align: center;
	font-weight: bold;
}

/* Route List Elements */
#route_list_container {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	background-color: greenyellow
}

#route_list_item {
	position: relative;
	height: 190px;
	width: 180px;
	float: left
}

.route_list_item_name {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: larger;
	width: 100%;
	font-weight: bold
}

.route_list_item_img {
	margin: 0px;
	padding: 5px 0px;
	text-align: center;
	width: 100%
}

.route_list_item_date {
	margin: 0px;
	padding: 3px 0px 0px;
	text-align: center
}